/* 색상 변수 추가 */
:root {
  --backGround: #1c2e52;
  --mainColor: #2561e6;
  --subColor: #74a0fd;
  --point: #fccd0f;
  --point-dark: #f2ae0f;
  --modal-white: #e3f4fd;
  --text-white: #ffffff;
  --text-black: #000000;
  --text-grey: #898a8d;
  --modal-yellow: #fdf3e7;
}
