/* 구글 웹폰트 추가*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");

@import "./reset.css";
@import "./color.css";

* {
  font-family: "Noto Sans KR", sans-serif !important;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backGround);
}
#app {
  width: 100%;
  height: calc(568 / 320 * 100vw);

  min-width: calc(280px);
  min-height: calc(568 / 320 * 280px);

  max-width: calc(320 / 568 * 1366px);
  max-height: calc(1366px);
}

.scroll {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}
